* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

table,
td {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 5px;

}

table {
    border-color: brown;
    border-width: 3px;
    margin: auto;
    position: relative;
    top: 20px;
}

.kull {
    width: 100%;
}

.text {
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
}

.input {
    border-style: none;
    width: 100%;

}
h1{
    text-align: center;
    color: red;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
p{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 18px;
}